[submodule "hadoop-3.2.1"]
	path = hadoop-3.2.1
	url = git@github.com:OrderLab/hadoop-3.2.1.git
[submodule "go-ycsb-source"]
	path = go-ycsb-source
	url = git@github.com:pingcap/go-ycsb.git
	update = none
[submodule "kafka"]
	path = kafka
	url = https://github.com/apache/kafka
	update = none
[submodule "openmessaging"]
	path = openmessaging
	url = git@github.com:OrderLab/openmessaging.git
